.form_group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--txt-main); /*txt main*/
}

input {
  width: 97%;
  padding: 10px;
  border: 1px solid var(--brd); /* brd */
  border-radius: 8px;
  font-size: 14px;
}

input:focus {
  border-color: var(--btn); /* btn */
  outline: none;
}

.error_message_container {
  height: 20px;
  margin-top: 05px;
  /* border: 1px solid red; */
}

.error {
  /* height: 0.8rem; */
  color: red;
  font-size: 14px;
  margin: 0;
}
