.wrap {
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--bg-main);
  color: var(--txt-main);
  align-items: center;
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 5rem;
  min-width: 600px;
  max-width: 800px;
}
.auth_container {
  display: flex;
  gap: 20px;
  background-color: var(--bg-alt); /*bg alt*/
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
  max-width: 800px;
  justify-content: center;
  margin: 0.5rem;
}

.form_wrapper {
  flex: 1;
}

.form_wrapper h2 {
  color: var(--txt-alt); /* txt alt */
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.form_group {
  margin-bottom: 15px;
}

.form_wrapper label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--txt-main); /*txt main*/
}

.form_wrapper input {
  width: 97%;
  padding: 0.5rem;
  border: 1px solid var(--brd); /* brd */
  border-radius: 8px;
  font-size: 14px;
}

.form_wrapper input:focus {
  border-color: var(--btn); /* btn */
  outline: none;
}

.form_footer {
  margin-top: 15px;
  text-align: center;
}

.btn {
  background-color: var(--btn); /* btn */
  color: var(--btn-txt); /* txt main */
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    min-width: 320px;
    max-width: 768px;
  }

  .auth_container {
    min-width: 320px;
    max-width: 768px;
  }
  .form_wrapper input {
    width: 95%;
  }
}