/* reset */
body,
a {
  margin: 0;
  padding: 0;
  background-color: var(--general-background);
  color: var(--general-text-color);
  text-decoration: none;
}

/* theme color variables */
[data-theme="light"] {
  --general-background: #ffffff;
  --element-background: #f3f3f3;
  --general-text-color: #292929;
  --element-text-color: #d93b3a;
  --field-color: #f8f8f8;
  --border-color: #797979;
}

[data-theme="dark"] {
  --general-background: #201f1e;
  --element-background: #252423;
  --general-text-color: #f4f4f4;
  --element-text-color: #f4b08b;
  --field-color: #3e3d3c;
  --border-color: #797979;
}

/* css app */
.box {
  width: 1440px;
  margin: 0 auto;
}
