.wrap {
  width: 100rem;
  margin: 0 auto;
  background-color: var(--bg-main);
  color: var(--txt-main);
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 75vh;
}

h2 {
  color: var(--txt-alt); /* txt alt */
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form_group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--txt-main); /*txt main*/
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.6rem;
  background-color: var(--btn);
  color: var(--btn-txt);
  border-style: none;
  border-radius: 0.6rem;
  width: 7rem;
  height: 2rem;
  box-shadow: 0 0.6rem 1.3rem rgba(0, 0, 0, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.23);
}

.title {
  flex: 2; /* Prend plus d’espace pour centrer correctement */
  text-align: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.all_btn {
  display: flex;
  gap: 10px;
  flex: 1; /* Garde les boutons alignés à droite */
}

.spacer {
  flex: 1; /* Prend autant d'espace que les boutons pour équilibrer */
}
