.form-nouveau-card-container {
  display: flex;
  gap: 20px;
  background-color: var(--bg-alt); /*bg alt*/
  padding: 20px;
  border-radius: 10px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 4px 4px rgba(0, 0, 0, 0.23);
  max-width: 800px;
  width: 700px;
  justify-content: center;
  margin: 5rem auto;
}

.form-nouveau-card-wrapper {
  flex: 1;
}

.form-nouveau-card-title {
  color: var(--txt-alt); /* txt alt */
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form-nouveau-card-input-wrapper {
  margin-bottom: 15px;
}

.form-nouveau-card-input-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--txt-main); /*txt main*/
}

.form-nouveau-card-input {
  width: 97%;
  padding: 10px;
  border: 1px solid var(--brd); /* brd */
  border-radius: 8px;
  font-size: 14px;
}

.form-nouveau-card-input:focus {
  border-color: var(--btn); /* btn */
  outline: none;
}

.form-nouveau-card-input-error-container {
  height: 20px;
  margin-top: 05px;
}

.form-nouveau-card-input-error {
  color: red;
  font-size: 14px;
  margin: 0;
}

.form-nouveau-card-messages-container {
  height: 1.5rem;
  border: 1px solid rgb(212, 212, 212);
  margin-bottom: 15px;
}

.form-nouveau-card-message-success {
  color: green;
}

.form-nouveau-card-message-error {
  color: red;
}

.form-nouveau-card-submit-button {
  background-color: var(--btn); /* btn */
  color: var(--btn-txt); /* txt main */
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 100%;
}
