.profile_page {
  font-family: Montserrat, sans-serif;
  margin: 1rem;
  color: var(--btn-txt);
  min-height: 5rem;
}
.back {
  width: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  fill: var(--hvr);
}

h3 {
  color: var(--txt-main);
  margin: 10px 0;
}

h6 {
  color: var(--txt-main);
  margin: 5px 0;
  text-transform: uppercase;
}

.card_container {
  background-color: var(--bg-alt);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
  color: var(--btn);
  position: relative;
  width: 20rem;
  height: 28rem;
  text-align: center;
  padding-top: 0.5rem;
}

.card_container .round {
  border: 1px solid var(--btn);
  border-radius: 50%;
  padding: 0.5rem;
  width: 12rem;
  height: 12rem;
}

.image_container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#fileInput {
  width: 150px;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

button.primary {
  background-color: var(--btn);
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  border: var(--brd) solid 1px;
  color: var(--btn-txt);
}

.primary:hover {
  background-color: var(--hvr);
}

.prefer {
  background-color: var(--btn);
  color: var(--btn-txt);
  text-align: left;
  padding: 15px;
  margin-top: 3rem;
  border-top: var(--brd) dotted 1px;
}

.prefer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.prefer ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

.prefer h6 {
  color: var(--btn-txt);
}

.field {
  position: relative;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field input {
  border: 1px solid var(--btn);
  border-radius: 4px;
  padding: 5px;
  font-size: 14px;
  width: auto;
  max-width: 200px;
  height: 22px;
  box-sizing: border-box;
}

.field label {
  margin-right: 10px;
  flex-shrink: 0;
}

.field .icon {
  cursor: pointer;
  margin-left: 10px;
  color: var(--btn);
  transition: color 0.3s ease;
}

.field .icon:hover {
  color: var(--hvr);
}

.error {
  font-size: 12px;
}
