.card {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid gray 1px;
  border-radius: 15px;
  padding: 10px 15px;
}
.card img {
  margin-top: 20px;
  margin-bottom: 60px;
}
.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}
