.all_deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .all_deck {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
}
