.card {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid gray 1px;
  border-radius: 15px;
  padding: 10px 15px;
  position: relative;
}

.flag {
  width: 15px;
  position: absolute;
  right: 5%;
  opacity: 0.5;
  fill: red;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.flag:hover {
  opacity: 1;
}

.card img {
  margin-top: 20px;
  margin-bottom: 60px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}
