.card {
  /* div setup */
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 15px;
  border-radius: 15px;
  border: solid var(--brd) 1px;
  background-color: var(--bg-alt);
  align-items: center;
  /*shadow*/
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25);
}

/* deck's title */
.card h3 {
  color: var(--txt-alt);
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

/* deck's picture */
.card img {
  width: 280px;
  height: 200px;
  margin-bottom: 0.6rem;
}

/* deck's info div */
.infos {
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.description {
  height: 170px;
  margin: 0.6rem;
}

.icons {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
  height: 32px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  align-content: center;
}
