.wrap {
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--bg-main);
  color: var(--txt-main);
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  flex-direction: column;
}
