.wrap {
  max-width: 100rem;
  margin: 0 auto;
  background-color: var(--bg-main);
  color: var(--txt-main);
  scrollbar-width: none; /*firefox*/
}

.container {
  min-height: 5rem;
}

.cards_container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.back {
  flex: 1;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.title {
  flex: 1;
  text-align: center;
  flex-wrap: wrap;
}

.all_btn {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;
}

.btn {
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--btn);
  color: var(--btn-txt);
  border-style: none;
  border-radius: 10px;
  width: 10rem;
  height: 2rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
  transition: transform 0.3s;
}

.btn .icon-text {
  display: none;
}

.btn .full-text {
  display: inline;
}

/* Mobile styles */
@media (max-width: 768px) {

  .cards_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .back {
    order: -1;
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .all_btn {
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  .btn {
    transform: scale(0.9); /* Reduce size by 10% */
    width: auto;
    height: auto;
    padding: 10px;
  }

  .btn .full-text {
   display: none;
  }

  .btn .icon-text {
    display: inline;
  }

  
}
