.hero {
  margin: 0.5rem;
  text-align: center;
  background-color: var(--bg-alt);
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 4px 4px rgba(0, 0, 0, 0.23);
}
.hero h1 {
  font-size: 30px;
  font-weight: bold;
}
.hero label {
  margin-right: 10px;
  color: var(--txt-main);
}

.search {
  background-color: var(--fld);
  border-style: solid;
  border-color: var(--brd);
  outline: none;
}

.search_submit {
  width: 10%;
  background-color: var(--fld);
  border-style: solid;
  border-color: var(--brd);
  outline: none;
  color: var(--txt-main);
  cursor: pointer;
}

.search_submit:hover {
  background-color: var(--btn);
  color: var(--btn-txt);
}

.filter {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.checkbox {
  display: flex;
  justify-content: center;
}

.checkbox input {
  width: auto;
}
.checkbox label {
  font-weight: 300;
}

@media (max-width: 768px) {
  .hero {
    min-width: 320px;
  }}

  .hero h1 {
    font-size: 22px;
    font-weight: bold;
  }
  .hero label {
    margin-right: 0px;
  }
  
  .search {
    width: 97%;
  }
  
  .search_submit {
    width: 10rem;
  }


