/* header div */
.header {
  width: 100%;
  background-color: var(--bg-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 12rem;
  cursor: pointer;
}

.logoc {
  flex: 45%;
}

.navbar {
  flex: 30%;
  display: flex;
  gap: 10px;
}

/* button div */
.auth_btn {
  flex: 25%;
  display: flex;
  gap: 1rem;
  margin-right: 1.5rem;
}

/* buttons */
.login {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--btn);
  color: var(--btn-txt);
  border-style: none;
  border-radius: 10px;
  width: 8rem;
  height: 2rem;
  text-align: center;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 4px 4px rgba(0, 0, 0, 0.23);
}

/* Icon link */
.icon_link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link_text, .theme_text {
  display: inline;
}

/* Mobile styles */
@media (max-width: 768px) {
  .link_text, .theme_text {
    display: none;
  }

  .logo {
    width: 7rem;
  }

  .login {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    justify-content: center;
  }

  .icon_link {
    gap: 0;
  }
}
