/* header div */
.header {
  max-width: 100%;
  background-color: var(--bg-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 10px;
  margin-left: 5rem;
}

/* buton div */
.auth_btn {
  display: flex;
  gap: 10px;
}

/* butons */
.login {
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--btn-txt);
  border-style: none;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  text-align: center;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 4px 4px rgba(0, 0, 0, 0.23);
}
