.card {
  width: 20rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.3rem;
  position: relative;
  border-radius: 1rem;
  background-color: var(--bg-alt);
  align-items: center;
  box-shadow: 0 0.6rem 1.3rem rgba(0, 0, 0, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.23);
}

.card h3 {
  color: var(--txt-alt);
  max-width: 19rem;
  height: 15rem;
  padding: 1rem;
}

.card img {
  margin-top: 6%;
  margin-bottom: 10%;
}

.infos {
  width: 19rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
}

.description {
  height: 13rem;
  width: 19rem;
  margin: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
}
