.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--txt-main);
  text-align: justify;
  text-justify: inter-word;
}

.text-wrap {
  margin:0;
  max-width: 1200px;

}

.text-wrap h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--txt-alt);
}

@media (max-width: 768px) {
  .text-wrap{
    transform: scale(0.9);
  
  }
}